:root {
    --cor-fundo: #000000;
    --cor-texto: #F2F4F3;
    --cor-titulo: #E01A4F;
    --cor-hover: #272727;
    --cor-link: #697268;

    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: "Montserrat", sans-serif;
}


.cabecalho {
    padding: 4% 0% 0% 15%;
}

.menu {
    display: flex;
    gap: 5rem;
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    font-weight: 600;
}

.link_menu {
    text-decoration: none;
    color: var(--cor-titulo);
}

.link_menu:hover {
    color: var(--cor-texto);
}

.container {
    padding: 5.03% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 82px;
}

.conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
}

.destacar_titulo {
    color: var(--cor-titulo);
}

.texto {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.titulo_botao {
    font-size: 1.5rem;
    font-family: var(--fonte-titulo);
    font-weight: 400;
}

.link {
    border: 2px solid var(--cor-titulo);
    padding: 16px 0;
    width: 50%;
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-texto);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    border-radius: 16px;
}

.link:hover {
    background-color: var(--cor-hover);
    font-size: 1.5625rem;
}

.imagem {
    width: 50%;
}

.rodape {
    background-color: var(--cor-titulo);
    padding: 24px;
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    color: var(--cor-fundo);
    font-weight: 400;
    text-align: center;
}

.container_sobremim {
    padding: 7.34% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo_sobremim {
    padding: 0% 20% 0% 0%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.titulo_sobremim {
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
    color: var(--cor-titulo);
}

.texto_sobremim {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
}

@media (max-width: 1300px) {
    .link {
        width: 80%
    }

    .container {
        flex-direction: column-reverse;
    }

    .conteudo {
        align-items: center;
        padding: 5% 0% 0% 0%;
        width: auto;
        text-align: center;
    }

    .container_sobremim {
        flex-direction: column-reverse;
    }

    .conteudo_sobremim {
        align-items: center;
        padding: 4% 0% 0% 0%;
        text-align: center;
    }

    .cabecalho {
        padding: 8%
    }

    .menu {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .menu {
        gap: 2rem;
    }

    .rodape {
        margin: 30% 0% 0% 0%;
    }
}

@media (max-width: 600px) {
    .titulo {
        font-size: 1.9rem;
    }

    .titulo_sobremim {
        font-size: 1.9rem;
    }

    .texto_sobremim {
        font-size: 1.3rem;
    }
}